$bg-gradient: linear-gradient(45deg,  #000000 0%, #111111 70%);
$elem-gradient-1: linear-gradient(90deg,  #007a54 0%, #00583a 100%);
$elem-gradient-1-vertical: linear-gradient(180deg,  #007a54 0%, #00583a 100%);
$elem-gradient-2: linear-gradient(90deg,  #b60032 0%, #760026 100%);

$primary-color: #007a54;
$secondary-color: #b60032;
