@use "../../styles/variables";

nav {
  .menu-icon {
    display: none;
    width: 36px;
    height: 30px;
    position: fixed;
    top: 40px;
    left: 40px;
    transform: translate(-50%, -50%);
    z-index: 1001;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;

    @media only screen and (max-width: 1000px) {
      display: block;
    }

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #ffffff;
      opacity: 1;
      left: 0;
      border-radius: 2px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:nth-child(3) {
        top: 24px;
      }
    }

    &.open-menu-icon span:nth-child(1) {
      top: 12px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    &.open-menu-icon span:nth-child(2) {
      opacity: 0;
      left: -30px;
    }

    &.open-menu-icon span:nth-child(3) {
      top: 12px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }

  #navigation {
    width: 100px;
    height: 100vh;
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #0b0b0b;

    a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4em;
      text-align: center;
      position: relative;
      margin: .6em 0;
      transition: all .2s ease-in-out;
      cursor: pointer;

      @media only screen and (max-width: 1400px) {
        font-size: 1.5em;
      }

      &:hover {
        color: #fff;
      }

      &.active {
        margin-bottom: 1em;
        color: #fff;
      }

      span:after {
        content: '\A';
        width: .4em;
        height: .4em;
        position: absolute;
        left: 50%;
        bottom: -.75em;
        transform: translateX(-50%);
        // border-radius: 50%;
        transition: opacity .2s ease-in-out;
        opacity: 0;
        background: variables.$elem-gradient-1;
      }

      &.active span:after {
        opacity: 1;
      }
    }

    .change-language {
      margin-top: 1.15em;
      font-family: inherit;
      font-size: 1.2em;
      line-height: 1.15;
      background: none;
      border: none;
      outline: none;
      color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
      font-weight: 700;
      transition-duration: .2s;

      &:hover {
        color: #fff;
      }

      @media only screen and (max-width: 1000px) {
        margin-top: 0;
        margin-left: 1em;
      }
    }

    .toggle-music-popup {
      color: rgba(255, 255, 255, 0.7);
      font-size: 1.4em;
      text-align: center;
      position: relative;
      transition: all .2s ease-in-out;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      margin: 1.15em 0 .6em;

      @media only screen and (max-width: 1400px) {
        font-size: 1.5em;
      }

      &:hover {
        color: #fff;
      }

      &.active {
        margin-bottom: 1em;
        color: #fff;
      }
    }

    @media only screen and (max-width: 1000px) {
      width: 100vw;
      height: 80px;
      padding: 1em 1em 1em 4em;
      position: fixed;
      top: 0;
      left: -100%;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: .2s left ease-in-out;

      &.open-menu {
        left: 0;
      }

      &.hidden-menu {
        left: -100%;
      }

      a {
        margin: 0 .7em;

        &.active {
          margin-bottom: 0;
        }

        span:after {
          content: '\A';
          width: .32em;
          height: .32em;
          bottom: -.5em;
        }
      }
    }
  }
}

#bio-popup .popup-content {
  font-size: 1.5em;
}

#music-popup, #bio-popup {
  transition-property: visibility, opacity;
  transition-duration: 0s, .15s;

  &.popup-hidden {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .15s, 0s;
    transition-delay: 0s, .15s;
  }

  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;

  .folders-back {
    display: inline-flex;
    width: initial;
    cursor: pointer;
    font-size: 1.43em;
    height: 2em;
    align-items: center;
    justify-content: left;

    &:hover {
      color: variables.$primary-color;
    }

    .fas {
      color: variables.$primary-color;
      font-size: .9em;
      margin-right: 6px;
    }
  }

  .popup-container {
    background: variables.$bg-gradient;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: column;

    .close-popup {
      height: 1.2em;
      width: 1.2em;
      text-align: right;
      box-sizing: border-box;
      position: absolute;
      right: 2em;
      top: 2em;
      z-index: 3;
      color: rgba(255, 255, 255, 0.7);
      transition-duration: .1s;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }

      span {
        font-size: 1.2em;
      }
    }

    .popup-content {
      width: 100%;
      height: 100%;
      overflow: auto;
      padding-top: 1em;

      .popup-loader {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.43em;
      }

      .notes-folders-container {
        display: flex;
        flex-direction: column;
        margin: 3em 1em 1em;

        .notes-folder-item {
          h4 {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            width: initial;

            &:hover {
              color: variables.$primary-color;
            }

            .folder-icon {
              display: flex;
              height: 100%;
              width: initial;
              position: relative;
              align-items: center;
              justify-content: center;
              margin-right: .4em;

              .fa-music {
                position: absolute;
                color: black;
                font-size: .5em;
                margin-top: 4px;
              }
            }
          }
        }
      }

      .notes-group {
        margin: 4em 0.5em 3em;

        &:first-of-type {
          margin-top: 1.2em;
        }

        h4 {
          font-weight: 700;
        }

        .notes-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 1.25em 0 1.7em;

          .notes-desc-container {
            flex-grow: 2;

            p {
              font-size: 1.43em;
              margin: .45em 0 0 0;
            }
          }

          .notes-download-container {
            margin-left: 1.6em;
            padding-right: 1.6em;

            a {
              font-size: 1.6em;
            }
          }
        }
      }
    }
  }
}
